In [2]:
import pandas as pd

In [3]:
x1 = pd.ExcelFile('monday.xlsx')

In [4]:
print(x1.sheet_names)

['dataa', 'Sheet2']

In [5]:
dfa = x1.parse('dataa')

In [6]:
dfa

   aa  12  23
0  bb  13  45
1  cc  14  67
2  dd  18  89
3  ee  20  11
4  ff  21  23

In [8]:
pass

In [9]:
keys = ['a', 'b', 'c']
val = [1,2,3]

In [10]:
dicta = dict(zip(keys, val))

In [11]:
dicta

{'a': 1, 'b': 2, 'c': 3}

In [12]:
x2 = pd.ExcelFile('monday.xlsx')

In [13]:
dfb = x2.parse('dataa')

In [15]:
dfb

  names  values  salary
0    aa      12      23
1    bb      13      45
2    cc      14      67
3    dd      18      89
4    ee      20      11
5    ff      21      23

In [16]:
dictb = dict(zip(dfb.names , dfb.salary))

In [17]:
print(dictb)

{'aa': 23, 'bb': 45, 'cc': 67, 'dd': 89, 'ee': 11, 'ff': 23}

In [18]:
type(dfb)

pandas.core.frame.DataFrame

In [19]:
type(dfb.names)

pandas.core.series.Series

In [20]:
dfc = pd.DataFrame( {'data': [10, 100, 33, 77, 88, 99, 11]} )

In [21]:
dfc

   data
0    10
1   100
2    33
3    77
4    88
5    99
6    11

In [22]:
x3 = pd.ExcelWriter('pandas.xlsx', engine= 'xlsxwriter')

In [23]:
dfc.to_excel(x3)

In [24]:
x3.save()