In [1]:
5 + 10

15

In [2]:
print("hello world ")

hello world

In [3]:
"hello world" * 2

'hello worldhello world'

In [4]:
5 * 3

15

In [5]:
print("hello world ")
print("hi")

hello world
hi

In [11]:
varx = 32
vary = 33
print("hello world ")
print("hi")
print("hari"
print("hari")

SyntaxError: invalid syntax (<ipython-input-11-0a48e4cf86bc>, line 6)

In [12]:
varx

NameError: name 'varx' is not defined

In [13]:
varx = 33

In [14]:
print(varx)

33

In [15]:
vary = 44

In [16]:
varz = "hi"

In [24]:
print(varz)

hi

In [18]:
vary + varx

77

In [19]:
vary + varz

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
"hari" + "prasad"

'hariprasad'

In [21]:
"hari" +  " " + "prasad"

'hari prasad'

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
varz.capitalize()

'Hi'

In [25]:
type(varz)

str

In [26]:
vara = varb = varc = 23

In [27]:
print(varb)

23

In [28]:
vara, varb , varc = 23, 56, 78

In [29]:
vara = 44.5

In [30]:
type(vara)

float

In [31]:
print = 55

In [32]:
print("hello")

TypeError: 'int' object is not callable

In [33]:
type(print)

int

In [34]:
del print

In [35]:
type(print)

builtin_function_or_method

In [36]:
del print

NameError: name 'print' is not defined

In [37]:
vara, varb , varc = 23, 56, 78

In [38]:
id(vara)

4498856032

In [39]:
id(varb)

4498857088

In [40]:
id(23)

4498856032

In [41]:
id(varc)

4498857792

In [42]:
varb = 23

In [43]:
id(varb)

4498856032

In [44]:
#comment

In [45]:
varz = 'hari2'

In [46]:
type(varz)

str

In [47]:
vara = 'k'

In [48]:
type(vara)

str

In [49]:
varz[1]

'a'

In [50]:
varb = "don't eat"

In [51]:
print(varb)

don't eat

In [52]:
varb = "\teja"

In [53]:
print(varb)

	eja

In [54]:
varb = "\\teja"

In [55]:
print(varb)

\teja

In [56]:
varb[9]

IndexError: string index out of range

In [57]:
varb = 'teja'

In [58]:
varb[3]

'a'

In [59]:
varb[-1]

'a'

In [60]:
varb[-5]

IndexError: string index out of range