In [1]:
import json

In [2]:
with open('example_2.json') as file:
    data = json.load(file)

In [3]:
data

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [4]:
type(data)

dict

In [5]:
print(json.dumps(data, indent = 2))

{
  "quiz": {
    "sport": {
      "q1": {
        "question": "Which one is correct team name in NBA?",
        "options": [
          "New York Bulls",
          "Los Angeles Kings",
          "Golden State Warriros",
          "Huston Rocket"
        ],
        "answer": "Huston Rocket"
      }
    },
    "maths": {
      "q1": {
        "question": "5 + 7 = ?",
        "options": [
          "10",
          "11",
          "12",
          "13"
        ],
        "answer": "12"
      },
      "q2": {
        "question": "12 - 8 = ?",
        "options": [
          "1",
          "2",
          "3",
          "4"
        ],
        "answer": "4"
      }
    }
  }
}

In [7]:
pass

In [8]:
data['quiz']['maths']['q1']['options'][2]

'12'

In [9]:
#dict             object
#list, tuple      array
#str              string
#int, float       number
#True, False      true false
#None.            null


json
person = {'name':'gomes', 'age':26, 'children': 1, 'language':['python', 'irish', 'tamil', 'english']}

person_json = json.dumps(person)

print(person_json)

{"name": "gomes", "age": 26, "children": 1, "language": ["python", "irish", "tamil", "english"]}

In [10]:
json
person = {'name':'gomes', 'age':26, 'children': 1, 'language':['python', 'irish', 'tamil', 'english']}


with open('person.json', 'w') as json_file:
    json.dump(person, json_file)