In [1]:
vara = 'xilinx'
i = 0
while i < 5:
    print(vara[i])
    i = i+1

x
i
l
i
n

In [2]:
vara = 'xilinx'
i = 0
while i < len(vara):
    print(vara[i])
    i = i+1

x
i
l
i
n
x

In [4]:
varu = 30
varv = 40

if varu == 20:
    print("its 20")
elif varu < 30:
    print("less than 30")
else:
    print("value is different")
    print("another line")
print("outside if-else")

value is different
another line
outside if-else

In [5]:
lista = ['gomes', 'janakiram', 'vinay', 'zahir', 'praveen', 'vineet']

In [6]:
for name in lista:
    print(name)

gomes
janakiram
vinay
zahir
praveen
vineet

In [7]:
name

'vineet'

In [8]:
for name in lista[2:]:
    print(name)

vinay
zahir
praveen
vineet

In [10]:
for name in lista:
    print(name,len(name))

gomes 5
janakiram 9
vinay 5
zahir 5
praveen 7
vineet 6

In [11]:
for i in range(5):
    print(lista[i])

gomes
janakiram
vinay
zahir
praveen

In [12]:
for i in range(5):
    type(i)

In [13]:
type(range(5))

range

In [14]:
for i in range(lista[4]):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [15]:
for i in range(3,8):
    print(i)

3
4
5
6
7

In [16]:
for i in range(3,11,2):
    print(i)

3
5
7
9

In [18]:
for i in range(-1,-10,-3):
    varf = 30
    print(i)

-1
-4
-7

In [19]:
varf

30

In [20]:
pass

In [21]:
for i in range(0,3):
    for j in range(0,3):
        if(i==j):
            print("tea/coffee/milk/ and everything else break")
            break
        else:
            print("no tea break")

tea/coffee/milk/ and everything else break
no tea break
tea/coffee/milk/ and everything else break
no tea break
no tea break
tea/coffee/milk/ and everything else break