In [1]:
dataa = 'loraine'

In [2]:
print(dataa[1])

o

In [3]:
#slicing

In [4]:
dataa[0:3]

'lor'

In [5]:
dataa[2:6]

'rain'

In [6]:
dataa[2:]

'raine'

In [7]:
dataa[0:2:1]

'lo'

In [8]:
dataa[0:6:2]

'lri'

In [9]:
dataa

'loraine'

In [10]:
len(dataa)

7

In [11]:
dataa[-1] = 'a'

TypeError: 'str' object does not support item assignment

In [15]:
datab = dataa.capitalize()

In [14]:
dataa

'loraine'

In [17]:
dataa

'loraine'

In [19]:
print("h")

h

In [20]:
#lists

In [21]:
lista = [7, 9, 10, 23, 56, 34]

In [22]:
lista[3]

23

In [26]:
lista[3:10]

[23, 56, 34]

In [27]:
lista[8:10]

[]

In [28]:
lista[-1:-4:-2]

[34, 23]

In [29]:
lista[-1:-4:2]

[]

In [30]:
lista[0:1]

[7]

In [31]:
lista

[7, 9, 10, 23, 56, 34]

In [32]:
lista[0:0]

[]

In [35]:
lista[3] = 44

In [36]:
lista

[7, 9, 10, 44, 56, 34]

In [37]:
type(lista)

list

In [39]:
listb = ['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56]

In [40]:
print(listb)

['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56]

In [41]:
listc = lista + listb

In [42]:
listc

[7,
 9,
 10,
 44,
 56,
 34,
 'anabelle',
 3,
 'isabelle',
 67,
 'arundhati',
 'stree',
 23.56]

In [43]:
listd = [lista, listb, 990, 'hello']

In [44]:
listb

['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56]

In [45]:
listd[1]

['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56]

In [46]:
listd[1][2][1]

's'

In [47]:
print(listd)

[[7, 9, 10, 44, 56, 34], ['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56], 990, 'hello']

In [48]:
lista[1] = 444

In [49]:
print(listd)

[[7, 444, 10, 44, 56, 34], ['anabelle', 3, 'isabelle', 67, 'arundhati', 'stree', 23.56], 990, 'hello']

In [50]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [51]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [52]:
10/6

1.6666666666666667

In [53]:
10//6 #floor

1

In [54]:
8 + 9

17

In [55]:
_

17

In [56]:
print("hi")

hi

In [57]:
_

17

In [58]:
'hgi' * 2

'hgihgi'

In [59]:
_

'hgihgi'

In [60]:
__

'hgihgi'

In [61]:
_ = 44

In [62]:
_

44

In [63]:
6 + 7

13

In [64]:
_

13

In [65]:
datac = True

In [66]:
datac

True

In [67]:
True = 44

SyntaxError: can't assign to keyword (<ipython-input-67-fa10a60d7212>, line 1)

In [68]:
datad = "\telengana\nizamabad"

In [69]:
datad

'\telengana\nizamabad'

In [70]:
print("\telengana\nizamabad")

	elengana
izamabad

In [71]:
print(r"\telengana\nizamabad")

\telengana\nizamabad

In [72]:
print("hi")
print("hello")

hi
hello

In [73]:
print("hi", end = ',')
print("hello")

hi,hello

In [77]:
print(dataa,'\n',datab)

loraine
 Loraine

In [78]:
#docstrings

In [80]:
datae = """line 
goes
multiple 
lines """

In [81]:
print(datae)

line
goes
multiple
lines

In [82]:
datae

'line \ngoes\nmultiple \nlines '

In [83]:
dataf = "44"
datag = "55.67"

In [84]:
ia = int(dataf)

In [85]:
type(dataf)

str

In [86]:
type(ia)

int

In [87]:
datah = "hello"

In [88]:
int(datah)

ValueError: invalid literal for int() with base 10: 'hello'

In [92]:
type(eval("datah"))

str

In [93]:
float(datag)

55.67

In [94]:
varx = input()

hi

In [95]:
type(varx)

str

In [96]:
varx = input()

66

In [97]:
type(varx)

str

In [98]:
varx

'66'

In [99]:
varx = int(input()) 
#functional composition

44

In [100]:
type(varx)

int

In [101]:
varx = int(input()) 
#functional composition

hello

ValueError: invalid literal for int() with base 10: 'hello'

In [102]:
varx = eval(input())

hello

NameError: name 'hello' is not defined

In [103]:
varx = eval(input())

'hello'

In [105]:
varx = eval(input())

56

In [106]:
type(varx)

int

In [107]:
varx = eval(input())

[7,8]

In [108]:
type(varx)

list

In [109]:
dataa

'loraine'

In [110]:
listg = list(dataa)

In [111]:
listg

['l', 'o', 'r', 'a', 'i', 'n', 'e']

In [113]:
varx = eval(input('plz enter only lists'))

plz enter only lists[8,9,10]

In [116]:
varx = eval(input())

dataa

In [115]:
varx

'dataa'

In [117]:
varx

'loraine'

In [118]:
type(ia)

int

In [128]:
datah = None

In [120]:
type(datah)

NoneType

In [121]:
listh = [6, 9, 10, None, 34]

In [122]:
listh[0]

6

In [123]:
listh[3]

In [124]:
datai = NaN

NameError: name 'NaN' is not defined

In [127]:
dataj = None

In [131]:
datai == dataj

True

In [132]:
datai = 0

In [133]:
vara = 20
varb = 30
varc = 40

In [134]:
vara < varb > 15

True

In [135]:
#logical 
#and or not 
"""bitwise
>>
<<
&
^
|
~ """

'bitwise\n>>\n<<\n&\n^\n|\n~ '

In [136]:
4 & 5 
#0100 
#0101

4